<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/header.ejs') %>
  </head>

  <body>
    <div class="container">
      <header>
        <a href="https://waypointproject.io" class="logo">
          <img src="/logo.svg" alt="Logo" />
        </a>
      </header>
      <section class="content">
        <div class="language-icon">
          <img src="/language.svg" alt="Node.js Icon" />
        </div>
        <h1>Tales of Interest - Waypoint</h1>
        <p>
          <u>CI/CD</u> <del>Autosync</del>
        </p>
		<p>
          Version 1
        </p>
      </section>
      <footer>
        <a href="https://hashicorp.com" class="hashi">
          <img src="/hashi.svg" alt="HashiCorp" />
        </a>
      </footer>
    </div>
  </body>
</html>
